.container{
    display: grid;
    /*grid-template-rows: 100px 100px 100px 100px 100px 100px;*/
    grid-template-rows: repeat(4 , 100px);
    grid-template-columns: minmax(100px, 3fr) 100px 1fr;
    gap: 30px;
    padding: 100px;
}

.item-1{
    background-color: aqua;
}

.item-2{

    background-color: yellow;
}

.item-3{
    background-color:orange
}

/*
grid-row: row-start / row-end
grid-column: column-start / column-end
grid-area:row-start / col-start / row-end / col-end
*/
.item-4{
    background-color: greenyellow;
}

.item-5{
    background-color: greenyellow;
}